html,
body {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Tahoma, Roboto;
}

h1,
h2, 
h3,
h4,
h5,
h6,
ul,
li,
span,
a,
div,
p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

.layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 503;
    display: none;

    &.catalog-mode {
        display: block;
        position: absolute;
    }

    &.active-layout {
        display: block!important;
    }
}

.title {
    font-size: 25px;
    padding: 20px 0;
}

.btn-close-window {
    float: right;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

    span {
        font-size: 25px;
        opacity: 0.7;
    }
}

.btn {
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:active {
        transform: scale(0.95);
    }
}

.footer {
    .overlay {
        .top-footer {
            background: #00a046;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            
            .title-top-footer {
                font-size: 20px;
                color: #fff;
                line-height: 170%; 
            }
        }
    
        .down-footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .menu-footer {
                width: 18%;
                padding-top: 50px;  

                .title-menu-footer {
                    opacity: 0.7;
                    padding-bottom: 20px;
                }

                a {
                    padding-bottom: 10px;
                    display: block;
                    color: #1986ff;
                }

                .social-link {
                    display: inline-block; 
                    padding: 0 3px;
                
                    span {
                        color: #506098;
                        font-size: 30px;
                    }
                
                    &:nth-child(6) {
                        span {
                            color: #76c9fd;
                        }
                    }

                    &:nth-child(7) {
                        span {
                            color: #e90000;
                        }
                    }

                    &:nth-child(8) {
                        span {
                            border-radius: 50%;
                            padding: 5px 6px;
                            color: #fff; 
                            background: linear-gradient(45deg,#ffb700 14.65%,#ff6800 31.68%,#cb217d 54.72%,#7e00aa 85.35%);
                        }
                    }
                }
            }
        }

        .license {
            padding-top: 50px;
            text-align: center;              
        }
    }
}

.title-window {
    font-size: 25px;
    display: inline-block;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.call-center {
    padding: 20px 0;
    border-bottom: 1px solid #e9e9e9;

    .title-call-center {
        font-size: 15px;
        padding-bottom: 20px;
    }
    
    a {
        display: block;
        font-size: 16px;
        padding-bottom: 20px;
    }

    .graphics {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        span {
            width: 45%;
            line-height: 31px;
        }
    }
}

.image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title { 
    font-size: 30px;
    padding: 20px 0;
}

.text {
    line-height: 170%;
    padding-bottom: 20px;
    font-size: 15px;
}

.header {
    padding: 20px 0;
    background-color: #122538;

    .top-header {
        display: flex;
        justify-content: space-between;
    
        .link-header {
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            padding: 0 10px;
        }
    }

    .down-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;

        .catalog {
            .btn-show-catalog {
                background: transparent;
                border: 1px solid white;
                padding: 10px 20px;
            
                .icon {
                    font-size: 20px;
                    padding-right: 10px;
                    color: #fff;
                }
            }
        }

        form {
            .search-form-header {
                background-color: #fff;
                outline: none;
                padding: 10px 50px 10px 5px;
                border: 0;
                border-radius: 5px;
                font-size: 16px;
                margin: 0;
            }

            .btn-form-header {
                .btn;
                background-color: #00a046;
                padding: 10px 15px;
                border: 0;
                margin: -10px;
                border-radius: 0px 5px 5px 0;
            }
        }

        .menu {
            a {
                .btn;
                border: 1px solid white;
                margin: 0 5px;
                padding: 10px;            
            }
        }
    }
}  

.modals-windows {
    .help-window {
        border-radius: 5px;
        font-size: 16px;
        position: fixed;
        background: #fff; 
        z-index: 3;
        bottom: 14px;
        transition: all 0.3s ease;
        left: 40px;
        transform: translateY(200%);
    
        .header-help-window {
            background: #00a046;
            color: #fff;
            font-size: 18px;
            padding: 10px;

            span {
                float: right;
                color: #fff;
                cursor: pointer;
                font-size: 16px;
            }
        }

        form {
            padding: 20px;

            .search-form-help-window {
                border: 1px solid grey;
                outline: none;
                padding: 10px 75px 10px 5px;
            }
        }
    }

    .catalog-menu {
        width: 87%;
        position: absolute;
        border-radius: 5px;
        z-index: 505;
        top: 23%;
        transition: all .5s ease;
        left: 5%;            
        opacity: 0;
        display: flex;
        justify-content: space-between;
        background: #ffff;
        transform: translate(0, -200%);
        padding: 20px;

        &:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: 30%;
            transform: rotate(45deg);
            top: -7px;
            border: 7px solid;
            border-color: #fff transparent transparent #fff;
        }

        .tabs {
            width: 25%;

            a {
                display: block;
                color: #3e77aa;
                padding-bottom: 10px;

                span {
                    display: inline-block;
                    float: right;
                    padding-right: 10px;
                    font-size: 18px;
                    color: #3e77aa;
                }
            }  
        }
        
        .tab-conteiners {
            width: 75%;
        
            .tab-conteiner {
                display: none;
                flex-wrap: wrap;
                justify-content: center;
                
                .tab-content {
                    width: 30%;

                    .brand {
                        padding: 10px 0;
                        font-weight: 300;
                    }

                    .tab-content-title {
                        font-size: 17px;
                        padding: 20px 0;
                        color: #3e77aa;
                    } 
                }

                &.active {
                    display: flex;
                }
            }
        }
    }

    .numbers-modal-window {
        position: fixed;
        background-color: #fff;
        border-radius: 5px;
        z-index: 600;
        opacity: 0;
        padding: 20px;
        top: 23%;
        transition: all .3s ease;
        left: 50%;
        transform: translate(0, -200%);
        
        .infos {
            .title-infos {
                padding-bottom: 20px;
                font-size: 17px;
            }

            a {
                display: block;
                padding-bottom: 10px;
            }
        }
    }

    .select-city-window {
        position: fixed;
        background-color: #fff;
        border-radius: 5px;
        z-index: 600;
        opacity: 0;
        padding: 20px;
        top: 19%;
        transition: all .3s ease;
        left: 50%;
        transform: translate(0, -200%);
        
        .infos {
            padding-top: 20px;

            .title-select-city-window {
                padding-bottom: 20px;
                opacity: 0.7;
                font-size: 16px;
            }

            .btns {
                display: flex;
                flex-wrap: wrap;
                padding: 20px;

                .btn-city {
                    .btn;
                    width: 27%;
                    padding: 10px;
                    color: #000;
                    border: 0;
                    background: transparent;
                }
            }

            form {
                padding-top: 20px;
                border-bottom: 1px solid #e9e9e9;

                .title-form {
                    padding-bottom: 20px;
                    opacity: 0.7;
                    font-size: 16px;
                }

                .city-input {
                    outline: none;
                    margin: 10px 0;
                    padding: 10px 5px;
                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid #e9e9e9;
                }

                .text-form-selector-city {
                    padding-bottom: 40px;
                    display: inline-block;
                    opacity: 0.7;
                }

                .ready {
                    .btn;
                    float: right;
                    border: 0;
                    background: #00a046;
                    padding: 10px 20px;
                    margin-bottom: 0px;
                }
            }

            .footer-window {
                padding-top: 20px;

                .text-footer-window {
                    line-height: 170%;
                }
            }
        }
    }

    .sign {
        position: fixed;
        background-color: #fff;
        border-radius: 5px;
        z-index: 600;
        opacity: 0;
        padding: 20px;
        top: 20%;
        transition: all .3s ease;
        left: 50%;
        transform: translate(0, -200%);


        .title-window {
            border-bottom: 0;
        }

        .forms {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #e9e9e9;

            form {
                padding-top: 50px; 
                border-right: 1px solid #e9e9e9;
                text-align: -webkit-center;
                padding-right: 20px;
                width: 50%;

                .warning-messege-sign {
                    display: none;
                    color: #e90000;
                    padding-bottom: 20px;
                    text-transform: uppercase;
                }

                .fields {
                    .field-sign {
                        outline: 0;
                        display: inline-block;
                        margin-bottom: 10px;
                        padding: 10px 30px;
                        border-radius: 5px;
                        border: 1px solid #e9e9e9;

                        &:nth-child(4) {
                            width: 44%;
                        }
                    }

                    .btn-show-pass {
                        background: transparent;
                        cursor: pointer;
                        border: 0;
                        margin-left: 5px;
                        outline: none;
                    }
                }

                .other-field {
                    .remember-checkbox {
                        display: inline-block;
                    }

                    .safe-me {
                        font-size: 16px;
                    }

                    a {
                        padding-left: 4px;
                        color: #3e77aa;
                    }
                }

                .field-btn {
                    .sign-button {
                        .btn;
                        background: #00a046;
                        margin-top: 20px;
                        border: 0;
                        padding: 10px 20px;
                        display: block;

                        &:active {
                            transform: scale(0.95);
                        }

                        &:last-child {
                            color: #000;
                            background-color: transparent;
                        }
                    }
                }
            }

            .social-sign-in {
                display: flex;
                align-items: center;
                padding-left: 20px;
                justify-content: space-between;

                .auth-modal {
                    font-size: 18px;
                    padding-top: 20px;
                    opacity: .7;
                }

                .btn-social {
                    text-align: -webkit-center;

                    .title-social-sign-in {
                        font-size: 18px;
                        padding-bottom: 20px;
                        opacity: .7;
                    }

                    button {
                        .btn;
                        display: block;
                        border: 1px solid #e9e9e9;
                        color: #000;
                        padding: 10px 30px;
                        margin-bottom: 20px;

                        span {
                            padding-right: 10px;
                            color: #506098;
                        }

                        &:last-child {
                            span {
                                color: #e90000;
                            }
                        }
                    }
                }
            }
        }
    }

    .versus-list {
        top: 23%;
        right: 51%;
        position: fixed;
        width: 36%;
        background: #ffff;
        border-radius: 5px;
        transition: all .3s ease;
        z-index: 600;
        opacity: 0;
        transform: translate(0, -400%);
        border: 1px solid #eeeeee;
        padding: 20px;

        .title-lists {
            display: inline-block;
            font-size: 20px;
        }

        .content-versus-list {
            text-align: center;
            padding-top: 50px;
            border-top: 1px solid #e9e9e9;

            .title-content-versus-list {
                font-size: 20px;
                opacity: 0.7;
                padding: 10px 0;
            }

            .text-content-versus-list {
                line-height: 170%;
                font-size: 14px;
            }
        }
    }

    .basket-window {
        position: absolute;
        top: 10%;
        right: 50%;
        opacity: 0;
        transform: translate(0, -400%);
        background: #fff;
        transition: all 0.3s ease;
        padding: 40px;
        width: 60%;
        border-radius: 5px;
        z-index: 600;
        border: 1px solid #e9e9e9;

        .title-basket {
            border: 0;
        }

        .description-basket-window {
            border-top: 1px solid #e9e9e9;
            text-align: center;
            padding-top: 50px;

            img {
                padding-bottom: 20px;
            }

            .title-description-basket-window {
                font-size: 25px;
                padding: 10px 0;
            }
        }
    }
}

.down-list {
    .lists {
        position: absolute;
        top: 24%;
        background: #fff;
        opacity: 0;
        transform: translate(0, -400%);
        right: 11%;
        padding: 20px;
        border-radius: 5px;
        display: none;
        z-index: 500;
        justify-content: space-between;
        transition: all 0.5s ease;
        border: 1px solid #eeeeee;  

        &.active-lists {
            transform: translate(0, 0);
            display: flex;
        }  
    }

    .premium-list {
        .truck-icon {
            font-size: 30px;
            color: #b4906f;
            padding-right: 20px;
        }

        .description {
            .title-description {
                span {
                    &:first-child {
                        font-weight: bold;
                        padding-right: 10px;
                        font-size: 18px;
                    }
                }
            }

            .text-description {
                padding: 10px 0;
                font-weight: bold;
                font-size: 16px;
            }

            .btn-more {
                background: #00a046;
                border: 0;
                outline: none;
                cursor: pointer;
                padding: 10px;
                border-radius: 5px;
                transition: all 0.3s ease;
                font-size: 16px;
                color: #fff;

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }
    
    .like {
        top: 24%;
        right: 3%;
        width: 40%;
        justify-content: space-between;

        .icon-like {
            font-size: 55px;
            color: #fc9400;
        }

        .description-like {
            width: 70%;   

            .title-like {
                padding: 10px 0;
                font-size: 23px;
            }

            .text-like {
                padding: 10px 0;
                line-height: 170%;
            }

            a {
                cursor: pointer;
                color: #3e77aa;
            }
        }
    }

    .basket {
        right: 5%;

        .icon-basket {
            font-size: 55px;
            color: #00a046;
        }

        .description-basket {
            width: 70%;

            .title-basket {
                padding: 10px 0;
                font-size: 23px;
            }

            .text-basket {
                padding: 10px 0;
                line-height: 170%;
            }
        }
    }

    .select-city-list {
        top: 202%;
        left: 15%;
        display: none;
        position: absolute;
        background: #fff;
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        transform: translate(0, 0%);
        padding: 10px 50px 0 0;

        .city {
            font-size: 16px;
            width: 156%;
            padding: 5px;
            cursor: pointer;
            text-align: start;

            &:hover {
                background: #1986ff;
                color: #fff;
            }
        }
    }
}

.content-page {
    padding-top: 20px;
    
    &.special {
        position: relative;
    }
}

.main-page {
    .overlay {
        display: flex;

        .left-bar {
            position: sticky;
            align-self: flex-end;
            bottom: 0;
            width: 40%;
            border-right: 1px solid #e9e9e9;

            .menu-left-bar {
                a {
                    display: block;
                    color: #3e77aa;
                    padding-bottom: 10px;

                    span {
                        display: inline-block;
                        float: right;
                        padding-right: 10px;
                        font-size: 18px;
                        color: #3e77aa;
                    }
                }  
            }                 

            .main-auth {
                border-top: 1px solid #e9e9e9;
                border-bottom: 1px solid #e9e9e9;
                padding: 20px;
                padding-top: 20px;
                background-color: #f4f4f4;                
                text-align: center;

                .title-auth {
                    font-size: 20px;
                    padding-bottom: 20px;
                }

                .text-auth {
                    font-size: 15px;
                    padding-bottom: 20px;
                    line-height: 170%;
                }
                
                .btn-sign-in {
                    .btn;
                    background-color: #3e77aa;
                    border: 0;
                    padding: 10px 20px;
                } 
            }

            .app {
                padding: 20px 0;
                text-align: center;
                border-bottom: 1px solid #e9e9e9;

                .title-app {
                    font-size: 15px;
                    padding-bottom: 20px;
                }

                .link-app {
                    padding: 0 10px;
                }
            }

            .address {
                padding: 20px 0;
                text-align: start;
                border-bottom: 1px solid #e9e9e9;
            
                .title-address {
                    font-size: 15px;
                    padding-bottom: 20px;
                    display: inline-block;
                }

                .side-bar-select-city {
                    font-weight: bold;
                    font-size: 15px;
                    cursor: pointer;
                }

                .address-text {
                    cursor: pointer;
                    display: none;
                    color: #3e77aa;
                    font-size: 15px;
                    padding-bottom: 20px;
                }
            }

            .social {
                padding: 20px 0;
                text-align: center;
                border-bottom: 1px solid #e9e9e9;
                
                .title-social {
                    font-size: 15px;
                    padding-bottom: 20px;
                }

                a {
                    margin: 0 5px;

                    span {
                        color: #506098;
                        font-size: 30px;
                    }
                
                    &:nth-child(3) {
                        span {
                            color: #76c9fd;
                        }
                    }

                    &:nth-child(4) {
                        span {
                            color: #e90000;
                        }
                    }

                    &:nth-child(5) {
                        span {
                            border-radius: 50%;
                            padding: 5px 6px;
                            color: #fff; 
                            background: linear-gradient(45deg,#ffb700 14.65%,#ff6800 31.68%,#cb217d 54.72%,#7e00aa 85.35%);
                        }
                    }
                }
            }

            .mini-info {
                padding: 20px 0;
                text-align: center;
                border-bottom: 1px solid #e9e9e9;

                .title-mini-info {
                    font-size: 15px;
                    padding-bottom: 20px;
                }

                .link-mini-info {
                    display: block;
                    color: #3e77aa;
                    text-align: start;
                    padding-bottom: 20px;
                }
            }

            .card {
                padding: 20px 0;
                text-align: center;
                border-bottom: 1px solid #e9e9e9;
                
                img {
                    padding-bottom: 20px;
                }

                .text-card {
                    line-height: 170%;
                    font-size: 15px;
                    padding-bottom: 20px;
                }
            }
        }

        .product {
            padding-left: 50px;

            .carusel {
                width: 800px;
                height: 300px;

                img {
                    width: 100%;
                    height: 300px;
                }
            }

            .last-view {
                padding-top: 50px;

                span {
                    color: #00a046;
                    font-size: 18px;
                    padding-right: 20px;
                }

                .title-section {    
                    display: inline-block;
                    font-size: 20px;
                }

                .cards {
                    display: flex;
                    justify-content: space-between;

                    .card {
                        width: 18%;

                        .text-card {
                            text-align: start;
                            font-size: 15px;
                            padding-bottom: 10px;
                        }
                    }                        
                }
            }
        }
    }  
}

.premium-page {
    .about {
        .image;
        text-align: center;
        padding-top: 100px;
        background: #560085 url(https://i.rozetka.ua/design/premium/prem_background.svg);
        

        .overlay {
            display: flex;
            flex-direction: column;
            align-items: center;
        
            .description-about {
                display: flex;
                justify-content: center;
                padding: 50px 0;
                align-items: center;

                .image-about {
                    background: #560085;
                    border-radius: 50%;
                    width: 150px;
                    padding: 20px 0;
                    box-shadow: 0 0 2px 2px rgba(50,0,78,.75);
                    
                
                    .image-about-text {
                        color: #fff;
                        font-size: 16px;
                        font-weight: bold;
                        padding-top: 20px;
                    }
                }

                .text-info-description-about {
                    padding-left: 50px;
                    
                    .title-description-about {
                        font-size: 25px;
                        color: #fff;
                        line-height: 170%;
                        text-align: start;
                    }

                    .text-description-about {
                        color: #fff;
                        font-size: 15px;
                        line-height: 170%;
                        text-align: start;
                    }
                }
            }
        
            .subscribe-premium {
                background: #fff;
                border-radius: 5px;
                padding: 20px;

                .description-subscribe {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    .text-info-subscribe {
                        .title-subscribe {
                            font-size: 25px;
                        }

                        .price-subscribe {
                            opacity: .7;
                            background: #fff;
                            padding: 10px 0;
                            font-size: 16px;
                        }
                    }

                    .btn-buy-subscribe {
                        background: #00a046;
                        border: 0;
                        color: #fff;
                        font-size: 16px;
                        padding: 10px 20px;
                        margin-left: 50px;
                        border-radius: 5px;
                        cursor: pointer;
                        outline: none;
                        transition: all 0.3s ease;

                        &:active {
                            transform: scale(0.95);
                        }
                    }
                }

                .more-info-suscribe {
                    padding: 10px 0;
                    font-size: 16px;
                    color: #999;
                    background: #f8f8f8;
                }
            }

            .more-info {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 20px 0;

                .text-more-info {
                    color: #fff;
                    line-height: 170%;
                    width: 50%;
                    text-align: start;
                    font-size: 15px;
                }

                a {
                    padding-top: 20px;
                    font-size: 25px;
                    color: #fff;
                }
            }
        }
    }

    .footer-subscribe {
        .overlay {
            padding: 20px;
            margin: 50px 10px;
            border-radius: 5px;
            background: #e8e8e8;
            display: flex;
            justify-content: space-between;
            
            .title-footer-subscribe {
                font-size: 20px;
                width: 50%;
            }

            form {
                .warning-messege-footer-subscribe {
                    display: none;
                    padding-bottom: 20px;
                }

                input {
                    outline: none;
                    padding: 10px;
                    border-radius: 5px;

                    &:nth-child(2) {                    
                        border: 1px solid grey;
                        margin-right: 20px;
                    }

                    &:last-child {
                        .btn;
                        background: #4096e3;
                        border: 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .fixed-button {
        .btn-fixed {
            .btn;
            background: #00a046;
            padding: 15px 30px;
            border-radius: 25px;
            position: fixed;
            z-index: 3;
            bottom: 40px;
            transform: translateY(200%);
            border: 0;
            left: 40px;

            span {
                color: #fff;
                font-size: 25px;
                padding-right: 10px;
            }
        }
    }
}

.help-page {
    .header-help {
        padding: 10px 0;
        background: #221F1F;

        .logo {
            img {
                width: 40%;
            }
        }
    }

    .search {
        .image;
        padding: 100px 0;
        text-align: center;
        background-image: url(https://theme.zdassets.com/theme_assets/9019538/a097ad64f7a39876219d3bd80675fb290f074636.png);

        .content-search {
            .search-title {
                font-size: 25px;
                color: #fff;
            }
        
            form {
                padding-top: 20px;

                input {
                    background-color: #fff;
                    outline: none;
                    padding: 10px 100px 10px 5px;
                    border: 0;
                    border-radius: 5px;
                    font-size: 16px;
                    margin: 0;

                    &:last-child {
                        .btn;
                        background-color: #00a046;
                        padding: 10px 15px;
                        margin: -10px;
                        border-radius: 0px 5px 5px 0;
                    }
                }
            }
        }
    }

    .cards-help {
        padding: 50px 0;

        .overlay-cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .card-help {
                width: 40%;
                padding: 20px 0;

                .title-card {
                    font-size: 20px;
                    padding-bottom: 20px;
                }

                a {
                    color: #3e77aa;
                    display: block;
                    padding-bottom: 10px;
                    font-size: 16px;
                }
            }
        }
    }

    .footer-help {
        padding-bottom: 20px;

        .overlay-footer-help {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 50%;
            }

            span {
                opacity: 0.7;
            }
        }
    }
}

.page-question {
    .side-panel {
        padding: 20px 0;

        .overlay-side-panel {
            display: flex;
            justify-content: space-between;

            .tabs {     
                position: sticky;
                align-self: flex-start;
                top: 0;
                border-right: 1px solid #e9e9e9;
                border-bottom: 1px solid #e9e9e9;
                width: 25%;
                padding-bottom: 20px;

                .tab {
                    color: #3e77aa;
                    display: block;
                    padding-bottom: 20px;
                    font-size: 16px;
                    width: fit-content;
                    cursor: pointer;
                    padding: 5px;

                    &.active {
                        border: 2px solid #00a046;
                        border-radius: 20px;
                        opacity: 0.7;
                        color: #000;
                    }
                }
            }

            .tab-conteiner {
                width: 70%;

                .tab-content {
                    opacity: 0;
                    transition: all 0.3s ease;
                    display: none;

                    &.active-tab-content {
                        display: block;
                        opacity: 1;    
                    }

                    .title-tab-content {
                        font-size: 30px;
                    }

                    .sub-title-tab-content {
                        font-size: 16px;
                        padding: 10px 0;
                    }

                    .credit-rules {
                        display: flex;
                        justify-content: space-between;
                        padding: 50px 0;
                    }

                    .table {
                        tbody {
                            .header-table {
                                background: #f8f8f8;
                                border-top: 1px solid #eaeaea;
                                padding: 20px;
                            }

                            tr {
                                padding: 20px;
                                display: flex;
                                border-bottom: 1px solid #eaeaea;
                                justify-content: space-between;

                                td {
                                    width: 15%;
                                }
                            }
                        }
                    }

                    .more-info-credit {
                        padding: 20px 0;
                        line-height: 170%;
                        opacity: .7;
                    }

                    .write-rules {
                        .title-write-rules {
                            font-size: 25px;
                            padding-bottom: 20px;
                        }

                        .text-write-rules {
                            line-height: 170%;
                            padding-bottom: 50px;
                        }
                    }

                    .license {
                        padding-top: 50px;
                        
                        .title-license {
                            font-size: 25px;
                            padding-bottom: 20px;
                        }

                        .about-of-bank {
                            padding-bottom: 20px;
                        }
                    }

                    .warning {
                        background: #f7fbfd;
                        padding: 20px;
                        margin-top: 20px;
                        border-radius: 5px;
                        border: 1px solid #c5e0f7;

                        span {
                            opacity: .7;
                            padding: 0 5px;
                            font-size: 25px;
                            display: inline-block;
                            float: left;
                        }

                        .warning-messege {
                            padding-bottom: 20px;
                            opacity: .7;
                            line-height: 170%;
                            padding-left: 50px;
                        }
                    }

                    .deliver {
                        .way-delivers {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;

                            .way-deliver {
                                padding: 20px 0;
                                width: 27%;

                                .name-way-deliver {
                                    color: #3e77aa;
                                }

                                span {
                                    opacity: 0.7;
                                    display: block;
                                    padding: 10px 0;
                                }
                            }
                        }
                    }

                    .pay {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .ways-pay {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                           
                            .way-pay {
                                width: 27%;
                                padding: 20px;
                                color: #3e77aa;
                            
                                .text-way-pay {
                                    opacity: 0.7;
                                    padding: 10px 0;
                                }
                            }
                        }
                    }

                    .buy-tickets {
                        .trevel {
                            float: left;
                            width: 27%;

                            .text-trevel {
                                display: block;
                                color: #3e77aa;
                                padding-bottom: 20px;


                                &:last-child {
                                    color: #000;
                                    opacity: .7;
                                    line-height: 170%;
                                }
                            }
                        }
                    }

                    .link {
                        color: #3e77aa;
                        text-decoration-style: wavy;
                        display: block;
                        padding-bottom: 10px;
                        font-size: 16px;
                    }

                    .accordion-item {
                        display: none;
                        opacity: 0;
                        transition: all 0.3s ease;

                        &.active-accordion-item {
                            display: block;
                            opacity: 1;
                        }

                        p {
                            line-height: 170%;
                            padding-bottom: 10px;
                        }

                        a {
                            display: inline-block;
                        }
                    }

                    .call-back-question {
                        padding-top: 50px; 

                        .title-call-back-quetion {
                            font-size: 25px;
                            padding-bottom: 10px;
                        }

                        .sub-title-call-back-quetion {
                            opacity: .7;
                            padding-bottom: 20px;
                        }
                    
                        form {
                            .store {
                                .select-store {
                                    display: flex;
                                    justify-content: space-between;

                                    span {
                                        font-size: 16px;
                                    }

                                    .fields {
                                        .field {
                                            padding-bottom: 20px;

                                            .checkbox {
                                                border: 1px solid grey;
                                                padding: 0px 10px;
                                                padding: 3px 5px;
                                                cursor: pointer;
                                                transition: all 0.3s ease;
                                                color: #fff;
                                                border-radius: 5px;
                                                font-size: 20px;
                                                background: transparent;
                                            }

                                            .name-part {
                                                font-size: 16px;
                                                padding-left: 10px;
                                            }
                                        }
                                    }
                                }

                                .cause-call-back {
                                    display: flex;
                                    justify-content: space-between;

                                    .cause {
                                        font-size: 16px;
                                    }

                                    .selector-error {
                                        background: transparent;
                                        border: 1px solid #eeeeee;
                                        outline: none;
                                        font-size: 16px;
                                        padding: 5px 73px 5px 5px;
                                        border-radius: 5px;
                                        cursor: pointer;
                                    }
                                }
                            }

                            .messege {
                                .sub-title-messege {
                                    font-size: 16px;
                                    padding: 20px 0;
                                }

                                .messege-area {
                                    border: 1px solid #eee;
                                    width: 95%;
                                    outline: none;
                                    padding: 20px;
                                }
                            }

                            .user-info {
                                .field-info {
                                    padding: 10px 0;

                                    .text-fiel-info {
                                        font-size: 16px;
                                    }

                                    input {
                                        border: 1px solid #eeeeee;
                                        float: right;
                                        outline: none;
                                        padding: 5px;
                                        border-radius: 5px;
                                    }
                                }

                                .btn-form {
                                    .btn;
                                    border: none;
                                    outline: none;
                                    padding: 10px 20px;
                                    background: #3e77aa;
                                    border-radius: 5px;
                                    margin-top: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}